code {
  border-radius: .5em;
  padding-top: 20px;
  font-weight: 400;
}

pre code.hljs {
  background: inherit !important;
}

code span {
  font-style: normal !important;
}

span {
  font-style: normal;
}
